
button[id^=GPbuttonModalPicto-][aria-pressed=false]+dialog {
  display:none;
  visibility:hidden;
  opacity:0%
}
button[id^=GPbuttonModalPicto-][aria-pressed=true]+dialog {
  display:flex;
  flex-direction:column;
  visibility:visible;
  opacity:100%
}